<!DOCTYPE html>
<html>
<!--
  Hello! This is an open source project. Check out https://github.com/danielthepope/xkcdfull for info.
-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="search" href="/opensearch.xml" type="application/opensearchdescription+xml" title="xkcd">
  <title>xkcd-full</title>
  <style>
    html,
    body {
      background-color: white;
      margin: 0;
      height: 100%;
      width: 100%;
      font-family: sans-serif;
    }

    .hidden {
      display: none;
    }

    #comic-full {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      width: 100%;
      min-height: 100%;
    }

    #container {
      margin: auto;
      height: 100%;
      width: 98%;
      display: table;
    }

    #about {
      position: absolute;
      top: 5px;
      right: 5px;
      border: 0;
      width: 36px;
      height: 36px;
      opacity: 0.2;
    }

    #header h1,
    #footer p {
      margin: 0;
    }

    #header,
    #footer,
    #comic {
      display: table-row;
      text-align: center;
      width: 100%;
    }

    .align-bottom {
      display: table-cell;
      vertical-align: bottom;
    }

    #comic {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      height: 100%;
    }

    .pad-text {
      padding: 5px;
    }
  </style>
  {{#if rotate}}
  <meta http-equiv="refresh" content="{{rotate}}" />
  {{/if}}
</head>

<body>
  <a href="https://github.com/danielthepope/xkcdfull#xkcdfull"><img id="about" src="/help.png" alt="About"></a>

  {{{body}}}

</body>

</html>