<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>xkcd-full</title>
  <style>
    html,
    body {
      margin: 0;
      height: 100%;
      width: 100%;
    }

    #container {
      height: 100%;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
    }

    #header {
      text-align: center;
    }

    #comic {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      flex-grow: 10;
    }

    #footer {
      text-align: center;
      background-color: white;
    }
  </style>
</head>

<body style="text-align:center">

  {{{body}}}

</body>

</html>
