<div id="container">
  <div id="header" style="background-color: orange"><h1 class="pad-text">words</h1></div>
  <div id="comic" style="background-color: cyan">
    Just, like, imagine there's something here
  </div>
  <div id="footer" style="background-color: blueviolet">
    <div class="align-bottom pad-text">
      <p>altText</p>
      <p>comic number</p>
    </div>
  </div>
</div>